---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Skills from "../components/Skills.astro";

const tagsBot = ['Worker', '.NET', 'Webhook'];
const tagsBlogman = ['PHP', 'Symfony', 'Blog'];
---

<Layout>
	<Hero/>
	<div id="projetos" class="flex justify-center gap-5">
		<ProjectCard
			tags={tagsBot}
			title="Frases Desmotivacionais Bot"
			description="Bot feito para periodicamente enviar mensagens desmotivacionais para um servidor no Discord"
			repoUrl="https://github.com/DavGuett/FrasesDesmotivacionaisBot"
		/>
		<ProjectCard
			tags={tagsBlogman}
			title="Blogman"
			description="Projeto inicial de um blog/intranet feito para aprender conceitos do Symfony e PHP"
			repoUrl="https://github.com/DavGuett/blogman"
		/>
	</div>

	<Skills />
</Layout>
